
<html>
<h1>About Me</h1>


<p>Hi there! I'm Alex Johnson, a passionate software engineer with a love for creating intuitive and dynamic web applications. With over five years of experience in the tech industry, I specialize in front-end development, crafting user-friendly interfaces that seamlessly blend form and function.

I began my journey into coding as a curious teenager, and that curiosity quickly turned into a career. After earning a degree in Computer Science, I dove into the world of web development, where I've worked on a diverse range of projects, from small business websites to large-scale enterprise applications.

When I'm not coding, you can find me exploring the outdoors, experimenting with new recipes in the kitchen, or catching up on the latest tech trends. I believe in continuous learning and am always looking for new challenges to tackle and skills to master.

I'm excited to share my work with you and hope you'll find inspiration in the projects I've developed. Feel free to reach out if you want to collaborate or just chat about tech!
</p>
</html>
